<div class="container">
  <div class="mb-5 row">
    <div class="col">
      <h3 class="d-none d-sm-block mb-3 text-center">About Ghostfolio</h3>
      <div class="about-container">
        <p>
          Ghostfolio is a lightweight wealth management application for
          individuals to keep track of stocks, ETFs or cryptocurrencies and make
          solid, data-driven investment decisions. The source code is fully
          available as
          <a
            href="https://github.com/ghostfolio/ghostfolio"
            title="Find Ghostfolio on GitHub"
            >open source software</a
          >
          (OSS) under the
          <a
            href="https://www.gnu.org/licenses/agpl-3.0.html"
            title="GNU Affero General Public License"
            >AGPL-3.0 license</a
          >
          and we share aggregated
          <a title="Open Startup" [routerLink]="['/open']">key metrics</a>
          of the platform’s performance. The project has been initiated by
          <a href="https://dotsilver.ch" title="Website of Thomas Kaul"
            >Thomas Kaul</a
          >
          and is driven by the efforts of its
          <a
            href="https://github.com/ghostfolio/ghostfolio/graphs/contributors"
            title="Contributors to Ghostfolio"
            >contributors</a
          >.
          <ng-container *ngIf="version">
            This instance is running Ghostfolio {{ version }}.
          </ng-container>
          <ng-container *ngIf="hasPermissionForSubscription"
            >Check the system status at
            <a href="https://status.ghostfol.io" title="Ghostfolio Status"
              >status.ghostfol.io</a
            >.</ng-container
          >
        </p>
        <p>
          If you encounter a bug or would like to suggest an improvement or a
          new
          <a [routerLink]="['/features']">feature</a>, please join the
          Ghostfolio
          <a
            href="https://join.slack.com/t/ghostfolio/shared_invite/zt-vsaan64h-F_I0fEo5M0P88lP9ibCxFg"
            title="Join the Ghostfolio Slack community"
            >Slack</a
          >
          community, tweet to
          <a
            href="https://twitter.com/ghostfolio_"
            title="Tweet to Ghostfolio on Twitter"
            >@ghostfolio_</a
          ><ng-container *ngIf="user?.subscription?.type === 'Premium'"
            >, send an e-mail to
            <a href="mailto:hi@ghostfol.io" title="Send an e-mail"
              >hi@ghostfol.io</a
            ></ng-container
          >
          or start a discussion at
          <a
            href="https://github.com/ghostfolio/ghostfolio"
            title="Find Ghostfolio on GitHub"
            >GitHub</a
          >.
        </p>
        <p class="text-center">
          <a
            class="mx-2"
            href="https://twitter.com/ghostfolio_"
            mat-icon-button
            title="Follow Ghostfolio on Twitter"
          >
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a
            *ngIf="user?.subscription?.type === 'Premium'"
            class="mx-2"
            href="mailto:hi@ghostfol.io"
            mat-icon-button
            title="Send an e-mail"
          >
            <ion-icon name="mail"></ion-icon>
          </a>
          <a
            class="mx-2"
            href="https://join.slack.com/t/ghostfolio/shared_invite/zt-vsaan64h-F_I0fEo5M0P88lP9ibCxFg"
            mat-icon-button
            title="Join the Ghostfolio Slack community"
          >
            <ion-icon name="logo-slack"></ion-icon>
          </a>
          <a
            class="mx-2"
            href="https://github.com/ghostfolio/ghostfolio"
            mat-icon-button
            title="Find Ghostfolio on GitHub"
          >
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </p>
        <div
          *ngIf="hasPermissionForSubscription"
          class="d-flex justify-content-center"
        >
          <div
            class="independent-and-bootstrapped-logo mb-2"
            title="Ghostfolio is an independent & bootstrapped business"
          ></div>
        </div>
        <div
          *ngIf="!hasPermissionForSubscription"
          class="d-flex justify-content-center"
        >
          <a
            href="https://www.buymeacoffee.com/ghostfolio"
            target="_blank"
            title="Support Ghostfolio"
            ><img
              class="mb-2"
              src="../assets/images/button-buy-me-a-coffee.png"
              width="180"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="hasPermissionForSubscription" class="col-md-6 col-xs-12 my-2">
      <a
        class="py-4 w-100"
        color="primary"
        mat-flat-button
        [routerLink]="['/faq']"
        >Frequently Asked Questions (FAQ)</a
      >
    </div>
    <div *ngIf="hasPermissionForBlog" class="col-md-6 col-xs-12 my-2">
      <a
        class="py-4 w-100"
        color="primary"
        mat-flat-button
        [routerLink]="['/blog']"
        >Blog</a
      >
    </div>
  </div>
</div>
